@use "sass:math";

$main-scheme: (
  primary: hsl(346deg 90% 64%),
  sunrise: hsla(0, 0%, 100%, 1),
  sunset: hsla(0, 0%, 95%, 1),
  haze: hsla(0, 0%, 88%, 1),
  musk: hsla(0, 0%, 63%, 1),
  dawn: hsla(0, 0%, 42%, 1),
  dusk: hsla(0, 0%, 30%, 1),
  fog: hsla(0, 0%, 20%, 1),
  ash: hsla(0, 0%, 15%, 1),
  twilight: hsla(0, 0%, 7%, 1),
  midnight: hsla(0, 0%, 0%, 1),
  pink: hsla(0, 100%, 84%, 1),
  champagne: hsla(33, 100%, 82%, 1),
  crayola: hsla(52, 100%, 77%, 1),
  green: hsla(110, 100%, 87%, 1),
  mint: hsla(157, 90%, 84%, 1),
  celeste: hsla(185, 100%, 80%, 1),
  eyes: hsla(217, 100%, 81%, 1),
  purple: hsla(249, 100%, 85%, 1),
  mauve: hsla(300, 100%, 89%, 1),
);

$main-scheme-invert: (
  primary: hsl(346deg 90% 64%),
  sunrise: hsla(0, 0%, 100%, 1),
  sunset: hsla(0, 0%, 95%, 1),
  haze: hsla(0, 0%, 88%, 1),
  musk: hsla(0, 0%, 63%, 1),
  dawn: hsla(0, 0%, 42%, 1),
  dusk: hsla(0, 0%, 30%, 1),
  fog: hsla(0, 0%, 20%, 1),
  ash: hsla(0, 0%, 15%, 1),
  twilight: hsla(0, 0%, 7%, 1),
  midnight: hsla(0, 0%, 0%, 1),
);

$pallets: pink, champagne, crayola, green, mint, celeste, eyes, purple, mauve;

$s-gutter-small: 1rem;
$s-gutter-small-half: math.div($s-gutter-small, 2);
$s-gutter: 1.6rem;
$s-gutter-half: math.div($s-gutter, 2);
$s-gutter-large: 2.4rem;
$s-gutter-large-half: math.div($s-gutter-large, 2);

// z-index
$z-space: 1001;
$z-cloud: 101;
$z-floor: 11;
$z-default: 1;

// typeface
$f-headline: 4.8rem;
$f-notice: 3.2rem;
$f-title: 2.4rem;
$f-topic: 1.8rem;
$f-abstract: 1.6rem;
$f-contents: 1.4rem;
$f-footnote: 1.2rem;

$f-family-primary: 'Jua', sans-serif;
$f-family-second: 'Gugi', cursive;

//functions
@function convert-scheme($param) {
  @return var(--#{$param});
}

//mixins
@mixin global-transition {
  transition: all 0.1s ease;
}

//font
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap');
