@use "sass:math";

$main-scheme: (
  primary: hsl(346deg 90% 64%),
  sunrise: hsla(0, 0%, 100%, 1),
  sunset: hsla(0, 0%, 95%, 1),
  haze: hsla(0, 0%, 88%, 1),
  musk: hsla(0, 0%, 63%, 1),
  dawn: hsla(0, 0%, 42%, 1),
  dusk: hsla(0, 0%, 30%, 1),
  fog: hsla(0, 0%, 20%, 1),
  ash: hsla(0, 0%, 15%, 1),
  twilight: hsla(0, 0%, 7%, 1),
  midnight: hsla(0, 0%, 0%, 1),
);

$main-scheme-invert: (
  primary: hsl(346deg 90% 64%),
  sunrise: hsla(0, 0%, 100%, 1),
  sunset: hsla(0, 0%, 95%, 1),
  haze: hsla(0, 0%, 88%, 1),
  musk: hsla(0, 0%, 63%, 1),
  dawn: hsla(0, 0%, 42%, 1),
  dusk: hsla(0, 0%, 30%, 1),
  fog: hsla(0, 0%, 20%, 1),
  ash: hsla(0, 0%, 15%, 1),
  twilight: hsla(0, 0%, 7%, 1),
  midnight: hsla(0, 0%, 0%, 1),
);

$s-gutter-small: 1rem;
$s-gutter-small-half: math.div($s-gutter-small, 2);
$s-gutter: 1.6rem;
$s-gutter-half: math.div($s-gutter, 2);
$s-gutter-large: 2.4rem;
$s-gutter-large-half: math.div($s-gutter-large, 2);

// z-index
$z-space: 1001;
$z-cloud: 101;
$z-floor: 11;
$z-default: 1;

// typeface
$f-headline: 4.8rem;
$f-notice: 3.2rem;
$f-title: 2.4rem;
$f-topic: 1.8rem;
$f-abstract: 1.6rem;
$f-contents: 1.4rem;
$f-footnote: 1.2rem;

$f-family-primary: 'Jua', sans-serif;
$f-family-second: 'Gugi', cursive;

//functions
@function convert-scheme($param) {
  @return var(--#{$param});
}

//mixins
@mixin global-transition {
  transition: all 200ms ease-out;
}

//font
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap');
