@use "sass:math";

$main-scheme: (
        primary: hsl(346deg 90% 64%),
        sunrise: hsla(0, 0%, 100%, 1),
        sunset: hsla(0, 0%, 95%, 1),
        haze: hsla(0, 0%, 88%, 1),
        musk: hsla(0, 0%, 63%, 1),
        dawn: hsla(0, 0%, 42%, 1),
        dusk: hsla(0, 0%, 30%, 1),
        fog: hsla(0, 0%, 20%, 1),
        ash: hsla(0, 0%, 15%, 1),
        twilight: hsla(0, 0%, 7%, 1),
        midnight: hsla(0, 0%, 0%, 1),
);

$main-scheme-invert: (
        primary: hsl(346deg 90% 64%),
        sunrise: hsla(0, 0%, 100%, 1),
        sunset: hsla(0, 0%, 95%, 1),
        haze: hsla(0, 0%, 88%, 1),
        musk: hsla(0, 0%, 63%, 1),
        dawn: hsla(0, 0%, 42%, 1),
        dusk: hsla(0, 0%, 30%, 1),
        fog: hsla(0, 0%, 20%, 1),
        ash: hsla(0, 0%, 15%, 1),
        twilight: hsla(0, 0%, 7%, 1),
        midnight: hsla(0, 0%, 0%, 1),
);

$s-gutter-small: 1rem;
$s-gutter-small-half: math.div($s-gutter-small, 2);
$s-gutter: 1.6rem;
$s-gutter-half: math.div($s-gutter, 2);
$s-gutter-large: 2.4rem;
$s-gutter-large-half: math.div($s-gutter-large, 2);

:root {
  @each $k, $v in $main-scheme {
    #{'--' + $k}: #{$v};
  }

  @media (prefers-color-scheme: light) {
    @each $k, $v in $main-scheme-invert {
      #{'--' + $k}: #{$v};
    }
  }
}

@function convert-scheme($param) {
  @return var(--#{$param});
}

body {
  margin: 0;
  padding: 0;
  color: convert-scheme(midnight);
  background-image: linear-gradient(
                  90deg,
                  #{convert-scheme(sunset)} 0,
                  #{convert-scheme(sunset)} 0.1rem,
                  transparent 0.1rem,
                  transparent 9.9rem,
                  transparent 10rem
  ),
  linear-gradient(
                  #{convert-scheme(sunset)} 0,
                  #{convert-scheme(sunset)} 0.1rem,
                  transparent 0.1rem,
                  transparent 9.9rem,
                  transparent 10rem
  ),
  linear-gradient(
                  #{convert-scheme(sunset)} 0,
                  #{convert-scheme(sunset)} 0.1rem,
                  transparent 0.1rem,
                  transparent 9.9rem,
                  transparent 10rem
  ),
  linear-gradient(
                  90deg,
                  #{convert-scheme(sunset)} 0,
                  #{convert-scheme(sunset)} 0.1rem,
                  transparent 0.1rem,
                  transparent 9.9rem,
                  transparent 10rem
  ),
  linear-gradient(
                  transparent 0,
                  transparent 0.5rem,
                  #{convert-scheme(sunrise)} 0.5rem,
                  #{convert-scheme(sunrise)} 9.5rem,
                  transparent 9.5rem,
                  transparent 10rem
  ),
  linear-gradient(
                  90deg,
                  #{convert-scheme(sunset)} 0,
                  #{convert-scheme(sunset)} 0.1rem,
                  transparent 0.1rem,
                  transparent 9.9rem,
                  #{convert-scheme(sunset)} 9.9rem,
                  #{convert-scheme(sunset)} 10rem
  ),
  linear-gradient(
                  90deg,
                  transparent 0,
                  transparent 0.5rem,
                  #{convert-scheme(sunrise)} 0.5rem,
                  #{convert-scheme(sunrise)} 9.5rem,
                  transparent 9.5rem,
                  transparent 10rem
  ),
  linear-gradient(
                  transparent 0,
                  transparent 0.1rem,
                  #{convert-scheme(sunrise)} 0.1rem,
                  #{convert-scheme(sunrise)} 9.9rem,
                  transparent 9.9rem,
                  transparent 10rem
  ),
  linear-gradient(#{convert-scheme(sunset)}, #{convert-scheme(sunset)});
  background-size: 10rem 100%, 100% 10rem, 100% 1rem, 1rem 100%, 100% 10rem, 10rem 100%, 10rem 100%, 10rem 10rem,
  10rem 10rem;
}

.a11y {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.app {
  display: grid;
  grid-template-areas: 'screen nav';
  grid-template-columns: auto 18rem;
  grid-template-rows: auto;
  height: 100vh;
}

.navigation {
  grid-area: nav;
  box-shadow: convert-scheme(sunset) -2px 2px 6px;
  background-color: convert-scheme(sunrise);
}