.btn {
  @include global-transition();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3.5rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid convert-scheme(primary);
  border-radius: 0.5rem;
  background-color: convert-scheme(primary);
  font-weight: bold;
  font-size: $f-footnote;
  color: convert-scheme(sunrise);

  &:hover {
    border-color: #cf3a61;
    background-color: #cf3a61;
  }

  &:active {
    transform: scale(0.98);
  }

  &--primary {
    border-color: convert-scheme(primary);
    background-color: convert-scheme(primary);
    color: white;
  }

  &--secondary {
    border-color: convert-scheme(primary);
    background-color: transparent;
    color: convert-scheme(primary);

    &:hover {
      color: white;
    }
  }

  &--ghost {
    border-color: transparent;
    background-color: transparent;
    color: convert-scheme(primary);

    &:hover {
      border-color: transparent;
      background-color: #f5f5fa;
      color: #cf3a61;
    }
  }

  &[disabled] {
    border-color: #c5c5c5;
    background-color: #c5c5c5;
    cursor: default;
  }

  &--thin {
    height: 2.8rem;
  }

  &--wide {
    width: 100%;
  }

  .icon {
    transition: all 0.2s;
  }
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border: transparent;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.2rem;
  color: convert-scheme(primary);
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    border-color: #f5f5fa;
    background-color: #f5f5fa;
    color: #cf3a61;
  }

  &:active {
    transform: scale(0.9);
  }

  &--primary {
    background-color: convert-scheme(primary);
    color: white;

    &:hover {
      border-color: #cf3a61;
      background-color: #cf3a61;
      color: white;
    }
  }
}

.btn-set {
  display: flex;
  align-items: center;

  &--content {
    justify-content: flex-end;
    margin-top: $s-gutter-half;

    .btn + .btn {
      margin-left: 0.4rem;
    }
  }
}
