.dropdown {
  position: relative;
  display: inline-block;

  &__label {
    font-size: $f-contents;
    justify-content: space-between;
    cursor: pointer;
  }

  &__content {
    display: none;
  }

  &__trigger:checked ~ & {
    &__content {
      display: block;
    }

    &__label .icon--dropdown {
      transform: rotate(180deg);
    }
  }

  &.sector-creator,
  &.search-organization {
    .select-box {
      position: unset;
      margin-top: $s-gutter-small-half;
      transform: translateX(0);
    }
  }
}

.select-box {
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + #{$s-gutter-small-half});
  left: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $s-gutter-half;
  min-width: 11.5rem;
  border: 0.1rem solid #e6e4ff;
  border-radius: $s-gutter-small-half;
  padding: $s-gutter-half $s-gutter-half $s-gutter;
  box-shadow: 0.1rem 0.2rem 0.4rem 0 rgb(0 0 0 / 10%);
  background-color: white;
  transform: translateX(-50%);
  z-index: $z-default;

  &__list {
    overflow: scroll;
    max-height: 30rem;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .count {
      flex: 1;
      text-align: right;
    }
  }

  &__list &__list {
    display: none;
    margin-top: $s-gutter-small-half;
    padding: $s-gutter-half;
    border-radius: $s-gutter-small-half;
    background-color: #f0f0f7;

    label {
      background-color: convert-scheme(sunrise);
    }
  }

  label {
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 0.6rem $s-gutter-half 0.6rem 1.2rem;
    display: flex;
    gap: $s-gutter-small-half;
    width: 100%;
    background-color: #f0f0f7;
    color: #5e5d66;
    font-size: $s-gutter-small;
    transition: all 0.2s;
    align-items: center;

    &:hover {
      padding-left: 1.6rem;
      color: #f65077;
    }

    &:active {
      transform: scale(0.95);
    }

    svg {
      display: none;
    }
  }

  input:checked + label {
    background-color: #f0f0f7;
    font-weight: bold;
    color: #f65077;

    svg {
      display: block;
    }

    & ~ .select-box__list {
      display: block;
    }
  }

  li + li {
    margin-top: $s-gutter-small-half;
  }

  &__notify {
    padding-right: $s-gutter-small-half;
    padding-left: $s-gutter-small-half;
    font-size: $f-footnote;
    color: #5e5d66;
  }
}