.input {
  border-bottom: 0.1rem solid #f65077;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: $f-contents;
  color: convert-scheme(dusk);

  &::placeholder {
    color: #c5c5c5;
  }
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 0.1rem solid #f65077;
  padding: 0.4rem;
  transition: all 0.2s;

  .input {
    flex: 1;
    min-width: 1rem;
    border-bottom: none;
  }

  & ~ .select-box__list & {
    margin-top: 0.8rem;
  }

  .icon {
    &--search path {
      fill: #f65077;
    }

    &--remove path {
      color: #c5c5c5;
    }
  }
}

.editor {
  padding: $s-gutter-half;
  background-color: convert-scheme(sunrise);
  border-radius: 0.5rem;

  &__field {
    display: inline-flex;
    align-items: center;
    padding: 0 $s-gutter-small-half;

    .input {
      text-align: center;
    }
  }

  &__entries {
    label {
      @include global-transition();
      box-sizing: border-box;
      border-radius: 0.5rem;
      margin-top: $s-gutter-half;
      padding: $s-gutter-half $s-gutter-large-half $s-gutter-small-half;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f0f0f7;
      color: #5e5d66;
      font-size: $f-footnote;

      &:hover {
        color: convert-scheme(sunrise);
        background-color: convert-scheme(primary);
      }

      &:active {
        transform: translate3d(0.1rem, 0.1rem, 0);
      }

      svg {
        @include global-transition();
        opacity: 0;
      }
    }

    input:checked + label {
      background-color: #f0f0f7;
      color: #f65077;

      svg {
        opacity: 1;
      }
    }
  }

  .input {
    padding-top: $s-gutter-small-half;
    padding-bottom: $s-gutter-small-half;

    &__label {
      display: none;
    }
  }

  .icon {
    margin: 0 $s-gutter-small-half;
  }
}

.selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: $s-gutter;
  row-gap: $s-gutter;
  font-size: $f-title;

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      @include global-transition();
      background-color: currentColor;
      border-radius: 50%;
    }

    &.active svg {
      color: convert-scheme(sunrise);
    }

    @each $pallet in $pallets {
      $i: index($pallets, $pallet);

      &:nth-child(#{$i}) {
        color: convert-scheme($pallet);

        svg {
          background-color: convert-scheme($pallet);
        }
      }
    }
  }
}
