.input {
  border-bottom: 0.1rem solid #f65077;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: $f-footnote;

  &::placeholder {
    color: #c5c5c5;
  }
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $s-gutter-small-half;
  border-bottom: 0.1rem solid #f65077;
  padding: 0.4rem;
  transition: all 0.2s;

  .input {
    flex: 1;
    min-width: $s-gutter-small;
    border-bottom: none;
  }

  & ~ .select-box__list & {
    margin-top: 0.8rem;
  }

  .icon {
    &--search path {
      fill: #f65077;
    }

    &--remove path {
      color: #c5c5c5;
    }
  }
}

.sheet-creator {
  padding: $s-gutter-half;
  background-color: convert-scheme(sunrise);
  border-radius: $s-gutter-small-half;

  &__field {
    display: inline-flex;
    align-items: center;
    padding: 0 $s-gutter;
  }

  .input {
    height: $s-gutter-large;
    text-align: center;

    &__label {
      display: none;
    }
  }

  .icon {
    margin: 0 $s-gutter-small-half;
  }
}
