.sheet {
  display: inline-flex;
  flex-direction: column;
  gap: $s-gutter-small-half;

  &__row {
    display: inline-flex;
    flex-direction: row;
    gap: $s-gutter-small-half;
  }
}

.seat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 5rem;
  border-radius: 0.5rem;
  padding: $s-gutter-half;
  background-color: #f0f0f7;
  transition: all 0.2s;
  font-size: $f-footnote;

  &--reserved {
    filter: grayscale(50%);
  }

  &__label {
    margin-top: -1.3rem;
    font-size: $s-gutter-small;
    opacity: 0;
    transition: all 0.2s;
  }

  &[data-sector-id] {
    cursor: pointer;
  }

  &[disabled] {
    cursor: default;
  }

  &:hover {
    transform: scale(1.03);
    background-color: #c9c9d4;
  }

  &:hover &__label {
    margin-top: 0;
    margin-bottom: 0.2rem;
    opacity: 100%;
  }

  &:active {
    transform: scale(0.98);
  }
}
