.sheet {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;

  &__row {
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 5rem;
  border-radius: 0.5rem;
  background-color: #f0f0f7;
  transition: all 0.2s;

  &[disabled] {
    cursor: default;
  }

  &:hover {
    transform: scale(1.03);
    background-color: #c9c9d4;
  }

  &:active {
    transform: scale(0.98);
  }
}
