.sheet {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;

  &__row {
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.sheet {
  position: relative;
  display: grid;
  gap: $s-gutter-half;
}

.seat {
  @include global-transition();
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4rem;
  padding: $s-gutter-half;
  border-radius: 0.5rem;
  border: 0.1rem dashed convert-scheme(primary);
  color: convert-scheme(primary);
  outline: none;

  &__input {
    @include global-transition();
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    width: 100%;
    //z-index: -1;
    font-size: $f-contents;
    color: convert-scheme(primary);
    outline: none;
    cursor: pointer;
  }

  &__item {
  }

  &:active {
    transform: translate3d(0.1rem, 0.1rem, 0);
  }
}
