.navigation {
  grid-area: nav;
  padding: $s-gutter;
  box-shadow: convert-scheme(musk) -2px 2px 6px;
  background-color: convert-scheme(primary);
  color: convert-scheme(sunset);
  font-size: $f-topic;
}
